<% provide(:title, 'About') %>

<div class="col-lg-7">
  <div class="panel panel-default" id="navs">
    <div class="panel-heading">About Us
    </div>
    <div class="panel-body clearfix">
        <p>So you haven't heard of us? Well that's quite unforunate, because we're quite <strong>awesome</strong></p>

        <p>You should be familiar with our brand, our first Crappy Book Store opened in 1841 in the heart of the Valley in
        San Francisco</p>

        <p>Our unique brand name has been established and cultivated through our distinct store service, we hope that we can offer
        a similar experience to our online users</p>

        <p>Crappy Book Store is a group involved in the wholesale, distribution and retail of books, newspapers, magazines, stationery and cards in the US and on the island of Ireland
        (in both Northern Ireland and the Republic of Ireland)</p>

        <p>A growing chain of 334 retail and 116 franchised Crappy Stores exist internationally</p>

        <p>Our new online serivce allows you order our Crappy Books online which is obvs totes amaze</p>

        <p>The company is headquartered in Dublin and employs over 1,800 staff where our ninja tech team bring you an amazing offering,
         <em>crappy-books-as-a-service</em></p>

        <p></p>
    </div>
  </div>
</div>

<div class="col-lg-5">
  <img src="http://castletv.net/wp-content/forumuploads/shena/2012/12/stealth-ninja.png" class="img-responsive" alt="ninja">
</div>
