<% provide(:title, 'Help') %>


<div class="col-lg-4 col-lg-offset-2">
  <div class="panel panel-default" id="navs">
    <div class="panel-heading">Need some help?
    </div>
    <div class="panel-body clearfix">
        <h3>Contact Doge on Customer Support</h3>
        <div id="small-push"></div>
        <div>
          <p><strong>Online Customer Support Email:</strong> areyouserious@wow.really</p>
          <p><strong> Customer Support Telephone:</strong> 01-123456</p>
        </div>

        <div>
            <img src="/assets/tumblr_mt5lk0syYZ1shlu6yo1_400.gif" class="img-responsive" alt="help">
        </div>

    </div>
  </div>
</div>

<div class="col-lg-4">
  <img src="/assets/waiting-meme.png" class="img-responsive" alt="meme">
</div>
