<div class="jumbotron">
  <h1>A crappy book store, <em>but as an online service</em> <span style="color:red;"><3</span></h1>
  <p>A quick preview of everything Bootstrap has to offer.</p>
  <div id="push"></div>
  <p><a class="btn btn-primary btn-large">Sign In&raquo;</a></p>
</div>
