<% provide(:title, 'Sign In') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">

      <div class="panel-heading">
        <h3>Follow me and enter!</h3>
      </div>

      <div class="panel-body clearfix">
        <div class="col-lg-7 col-lg-offset-2">
          <%= labeled_form_for(:session, url: sessions_path) do |f| %>

            <%= f.text_field :email,        label: { name: "Email:" }    %>
            <%= f.password_field :password, label: { name: "Password:" } %>
            <div class="col-lg-6 col-lg-offset-3">
              <div id="small-push"></div>
              <img src="/assets/b35.png" class="img-responsive" alt="meme">

              <div id="half-push"></div>
              <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
