<% provide(:title, 'All users') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">

      <div class="panel-heading">
        <h3>All users</h3>
        <span class="pull-right" style="margin-top: -3pc;">
          <%= link_to "Enroll Admin", sti_user_path("Admin", "new"), class: "btn btn-success" %>
        </span>
      </div>

      <div class="panel-body clearfix user-show-panel">
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        <ul class="users">
           <% @users.each do |user| %>
              <%= render partial: 'users/user', locals: { user: user } %>
          <% end %>
        </ul>
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>

    </div>
  </div>
</div>
