<% provide(:title, 'Payment Complete!') %>

<% present @purchase, PurchasePresenter do |purchase_presenter| %>

  <div class="col-lg-5 col-lg-offset-2">
    <div class="panel panel-default" id="navs">
      <div class="panel-heading">Success!
      </div>
      <div class="panel-body clearfix">
        <%= purchase_presenter.completion_header %>

          <div>
            <p class="text-info">Your books are the way, bro</p>
            <p class="text-info">You'll be redirected soon!</p>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <img src="/assets/stealth-ninja.png" class="img-responsive" alt="ninja">
  </div>

  <%= purchase_presenter.redirect_script %>

<% end %>
