<% if @user.errors.any? %>
  <div class="alert alert-danger">

      <p>The form contains <strong><%= pluralize(@user.errors.count, "error") %></strong></p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
      <% end %>
      </ul>

  </div>
<% end %>
