<% provide(:title, 'Edit address') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">

      <div class="panel-heading">
        <h3>Update billing address</h3>
      </div>

      <div class="panel-body clearfix">
        <%= render 'shared/error_messages', object: @address %>

        <div class="col-lg-7 col-lg-offset-2">
          <%= labeled_form_for([@customer, @address], url: customer_address_path(@customer, @address), method: :patch) do |f| %>
            <%= render 'addresses/fields', f: f %>

            <%= f.submit "Update billing address", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
